.delivery{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid #E4E4E7;
}

.arrival {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cost {
  color: #30DB5B;
}
